<section class="container">
  <h3 class="meal-name">{{meal.name}}</h3>
  <section class="flex-row justify-center">
    <section class="meal">
        <input type="hidden" value="{{meal.id}}">
  <img src="/images/{{meal.filename}}" alt="{{meal.description}}">
  <div class="meal-details">
    <h3 id="name">{{meal.name}}</h3>
    <p id="price"> Price: {{meal.price}}</p>
    <p> {{meal.description}}</p>
  </div>
  <button id="add-to-order">Add to Order</button>
</section>
  </section>
</section>

<script src="/js/order.js" ></script>
