<section class="meal">
  <img src="/images/{{meal.filename}}" alt="{{meal.description}}">
  <div class="meal-details">
    <h3>{{meal.name}}</h3>
    <p>Price: {{meal.price}}</p>
    <p> {{ meal.description}}</p>
  </div>
</section>